@media screen and (max-width: 1024px) {
    #portfolio{
        .container{
            .list-works{
                .wrap{
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    #my-friends{
        .container{
            .friend-list{
                flex-direction: column;
                align-items: center;
                .friend{
                    &:not(:nth-last-child(-n+1)){
                        margin-bottom: 30px;
                    }
                }
            }
        }
        
    }
}
@media screen and (max-width: 800px) {
    #about-me{
        .container{
            .row{
                .photos{
                    height: 300px;
                }
            }
        }
    }
    #footer{
        .container{
            .wrap{
                a{
                    font-size: 17px;
                }
            }
        }
    }
}
@media screen and (max-width: 620px){
    #about-me{
        .container{
            .row{
                .text-about-me{
                    font-size: 19px;
                }
            }
        }
    }
    #footer{
        .container{
            .wrap{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width: 500px){
    #favorite-music{
        .title{
            font-size: 24px;
        }
    }
    #footer{
        .container{
            .wrap{
                flex-direction: column;
                align-items: center;
                
                a{
                    font-size: 20px;
                    &:not(:nth-last-child(-n+1)){
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}